/intracardiac_dataset/
/Task_One/ecg_dataset/
/Task_Two/ecg_dataset/
/.idea/DSC_2024_Space_Jam.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Task_Three/best_model.pth
/Task_Three/log/
